@page "/"

<PageTitle>Index</PageTitle>

<div>
    <button @onclick=@(() => ShowFirstModal = true)>Show first Modal</button>
</div>

<Modal Visible=@ShowFirstModal CssClass="wide tall" title="First modal">
    <button @onclick=@(() => ShowSecondModal = true)>Show second Modal</button>
    <button @onclick=@(() => ShowFirstModal = false)>Hide this Modal</button>
</Modal>

<Modal Visible=@ShowSecondModal title="Second modal">
    <button @onclick=@(() => ShowThirdModal = true)>Show third Modal</button>
    <button @onclick=@(() => ShowSecondModal = false)>Hide this Modal</button>
</Modal>

<Modal Visible=@ShowThirdModal CssClass="narrow short" title="Third modal">
    <button @onclick=@(() => ShowThirdModal = false)>Hide this Modal</button>
</Modal>

@code
{
    bool ShowFirstModal;
    bool ShowSecondModal;
    bool ShowThirdModal;
}