@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div>
    <button @onclick=@(() => ShowFirstModal = true)>Show first Modal</button>
</div>

<Modal Visible=@ShowFirstModal CssClass="wide tall">
    <h3>First modal</h3>
    <button @onclick=@(() => ShowFirstModal = false)>Hide this Modal</button>
    <button @onclick=@(() => ShowSecondModal = true)>Show second Modal</button>
</Modal>

<Modal Visible=@ShowSecondModal>
    <button @onclick=@(() => ShowSecondModal = false)>Hide this Modal</button>
    <button @onclick=@(() => ShowThirdModal = true)>Show third Modal</button>
</Modal>

<Modal Visible=@ShowThirdModal CssClass="narrow short">
    <button @onclick=@(() => ShowThirdModal = false)>Hide this Modal</button>
</Modal>

@code
{
    bool ShowFirstModal = true;
    bool ShowSecondModal = true;
    bool ShowThirdModal = true;
}