@page "/"

<PageTitle>Index</PageTitle>
<h1>Modal demo</h1>
<div>
	<button type="button" tabindex=0 @onclick=@(() => ShowFirstModal = true)>Show first Modal</button>
</div>

<Modal Visible=@ShowFirstModal CssClass="narrow tall" title="First modal" aria-label="First modal">
	<main>
		<div class="container">
			<h2>First modal</h2>
			<SomeEmbeddedComponent/>

			<div class="form-group">
				<label for="first-modal_name-input">Name</label>
				<input tabindex=0 class="form-control" id="first-modal_name-input" aria-label="Enter your name" autocomplete="off" />
			</div>
			<button type="button" @onclick=@(() => ShowSecondModal = true)>Show second Modal</button>
			<button type="button" @onclick=@(() => ShowFirstModal = false)>Hide this Modal</button>
		</div>
	</main>
</Modal>

<Modal Visible=@ShowSecondModal title="Second modal" aria-label="Second modal">
	<main>
		<div class="container">
			<h2>Second modal</h2>

			<div class="form-group">
				<label for="second-modal_email-input">Email</label>
				<input tabindex=0 class="form-control" id="second-modal_email-input" aria-label="Enter your email" type="email" autocomplete="off" />
			</div>
			<button type="button" @onclick=@(() => ShowThirdModal = true)>Show third Modal</button>
			<button type="button" @onclick=@(() => ShowSecondModal = false)>Hide this Modal</button>
		</div>
	</main>
</Modal>

<Modal Visible=@ShowThirdModal CssClass="narrow short" title="Third modal" aria-labelledby="third-modal_header">
	<main>
		<div class="container">
			<h2 id="thid-modal_header">Third modal</h2>
			<div class="form-group">
				<label for="third-modal_telephone-input">Telephone</label>
				<input tabindex=0 class="form-control" id="third-modal_telephone-input" aria-label="Enter your telephone number" type="tel" autocomplete="off" />
			</div>
			<button type="button" @onclick=@(() => ShowThirdModal = false)>Hide this Modal</button>
		</div>
	</main>
</Modal>

@code
{
	bool ShowFirstModal;
	bool ShowSecondModal;
	bool ShowThirdModal;
}